.clients {
    padding-top: 60px;
    padding-bottom: 60px;

    @include mq(desktop) {    
        padding-top: 94px;
        padding-bottom: 94px;
    }    
}

.clients__list {
    display: flex;
    flex-wrap: wrap;        
    justify-content: space-around;
    
//    @include mq(mobile) {    
            margin: -15px;
 //       }   

    @include mq(desktop) {   
        flex-wrap: nowrap;
    }
}

.clients__item {
    flex-basis: calc(100% / 2 - 30px);    

  //  @include mq(mobile) {    
        margin: 15px;
 //   }

    @include mq(tablet) {    
        flex-basis: calc(100% / 3 - 2 * 30px);        
    }
}

.clients__link {
    @include centeredFlex();    
        
    outline: 1px solid $border-color-second;
    border-radius: 4px;
    color: rgba(175, 177, 184, 1);

    transition: color var(--animation-type), border var(--animation-type);

    @include mq(mobile) {    
        padding: 16px 52px;
    }

    @include mq(tablet) {    
        padding-left: 60px;
        padding-right: 60px;
    }

    @include mq(desktop) {    
        padding-left: 32px;
        padding-right: 32px;
    }

    &:hover,
    &:focus {
        outline: 1px solid var(--accent-color);
        color: var(--accent-color);
    }
}

.clients__icon {
   fill: currentColor;
}