.contacts {  
    font-weight: 500;    
    line-height: 1.16;
    letter-spacing: 0.02em;

    @include mq(mobile-only)
    {
        display: flex;
        flex-direction: column-reverse;

        margin-bottom: 64px;
        font-size: 24px;
        margin-top: auto;
    }

    @include mq(tablet) {
        font-size: 12px;        
    }


    @include mq(desktop) {
        display: flex;
        margin-left: auto;
        align-items: center;

        font-size: 14px;
        line-height: 1.14;
    }
        
    
}

.contacts__item {
    &:last-child {
         margin-bottom: 0;
    }
    
    @include mq(mobile-only) {
        &:last-child {
            margin-bottom: 32px;
        }
    }        

    @include mq(tablet-only) {       
        margin-bottom: 10px;
    }
    @include mq(desktop) {              
        &:not(:last-child) {
            margin-right: 30px;
        }
    }    
}

.contacts__link {
    display: flex;
    align-items: center;
    
    @include mq(desktop) {
        padding-top: 32px;
        padding-bottom: 32px;

        margin-left: auto;
    }   

    color: currentColor;
    text-decoration: none;

    transition: color var(--animation-type);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contacs__icon {
    fill: currentColor;
    margin-right: 10px;

    @include mq(mobile-only) {
        display: none;
    }
}

.tel {
    @include mq(mobile-only) {
        font-size: 34px;
        line-height: 1.18;
        color: var(--accent-color);
    }   
}