.contacts {
    @include mq(desktop) {
        display: flex;
    }
        
    align-items: center;

    margin-left: auto;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts__item {
    @include mq(tablet-only) {
        margin-bottom: 10px;
    }
    @include mq(desktop) {              
        &:not(:last-child) {
            margin-right: 30px;
        }
    }    
}

.contacts__link {
    display: flex;
    align-items: center;
    
    @include mq(desktop) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
        
    margin-left: auto;

    color: currentColor;
    text-decoration: none;

    transition: color var(--animation-type);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contacs__icon {
    fill: currentColor;
    margin-right: 10px;
}