.examples {
    display: none;

    @include mq(desktop) {
    //@media screen and (min-width: 1200px) {
        display: block;
        padding-bottom: 94px;
    }    
}

.examples__list {
    display: flex;
}

.examples__item {
    position: relative;
    margin-right: 30px;

    &:last-child {
         margin-right: 0;
    }
}

.examples__text-overlay {
     position: absolute;
     bottom: 0;
     left: 0;

     display: block;
     padding-top: 27px;
     padding-bottom: 27px;

     height: 70px;
     width: 100%;

     background-color: $background-color-second;
     color: var(--fifth-color-text);
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     text-align: center;
     text-transform: uppercase;
}