.footer {
   padding: 60px 0px;

   background-color: var(--background-color);

    &__logo {
       display: block;
       margin-right: 0;
       margin-bottom: 20px;
   }
}

.footer__container {
    @include mq(tablet) {            
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }

    @include mq(desktop) {        
        flex-wrap: nowrap;
    }
}

.footer__flex {
    text-align: center;

    @include mq(not-desktop) {
        margin-bottom: 60px;
    }

    @include mq(desktop) {
        text-align: left;
        
        &:nth-child(1) {
            margin-right: 70px;
        }
        
        &:last-child {
            margin-left: auto;
        }        
    }
    
}

.adress {    
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    @include mq(mobile-only) {
        margin-bottom: 60px;
    }    
}

.link-map{
    text-decoration: none;
    color: var(--fifth-color-text);
}

.adress__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    color: var(--forth-color-text);
    text-decoration: none;

    transition: color var(--animation-type);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }  
}

.adress__item {
    @include mq(mobile) {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

.footer__join {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--fifth-color-text);
}

.form-sign-up__input {    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;

    max-width: 450px;
    width: 100%;
    background-color: inherit;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    border: 0;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);    

    @include mq(desktop) {

        width: 358px;        
    }
}

.form-sign-up__label {
    display: block;
    margin-bottom: 20px;

    @include mq(desktop) {
        margin-right: 12px;
        margin-bottom: 0;
    }
}

.form-sign-up {  
    width: 100%;
    text-align: center;

    @include mq(desktop) {
        width: 570px;
        margin-left: auto;
        text-align: left;
    }    

    &__icon {
        fill: currentColor;
    }
}

.form-sign-up__flex {
    @include mq(desktop) {
        display: flex;
    }    
}


.form-sign-up__flex-btn {
    display: flex;
    align-items: center;    
}

.form-sign-up__btn {
    padding: 10px 28px;

    font-weight: 700;    
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--fifth-color-text);
    background-color: var(--accent-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;    
}

.form-sign-up__btn-name {
    margin-right: 10px;
}