.hero {
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    //outline: 2px solid yellow;

    @include mq(desktop) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero__title {
    margin: 0 auto 30px auto;

    color: var(--fifth-color-text);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    //width: 100%;
    max-width: 360px;       

    @include mq(desktop) {
        max-width: 696px;        
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__button {
    padding: 10px 32px;

    color: var(--fifth-color-text);
    font-family: inherit;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    border-radius: 4px;
    border: 0;

    transition: background-color var(--animation-type);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

.overlay {
    max-width: 767px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

    background-color: #C4C4C4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(var(--gradient), var(--gradient)), url('../images/hero/hero-sm.jpg');
    @include mq(mobile) {
        
    }
    
    @include mq(retina) {
        background-image: linear-gradient(var(--gradient), var(--gradient)), url('../images/hero/hero-sm@2x.jpg');
    }

    @include mq(tablet) {
        max-width: 1199px;
        background-image: linear-gradient(var(--gradient), var(--gradient)), url('../images/hero/hero-md.jpg');

        @include mq(retina) {
            background-image: linear-gradient(var(--gradient), var(--gradient)), url('../images/hero/hero-md@2x.jpg');
        }
    }

    @include mq(desktop) {
        max-width: 1600px;
        height: 600px;

        border: 1px solid rgba(0, 0, 0, 1);
        background-image: linear-gradient(var(--gradient), var(--gradient)), url('../images/hero/hero-lg.jpg');

        @include mq(retina) {
            background-image: linear-gradient(var(--gradient), var(--gradient)), url('../images/hero/hero-lg@2x.jpg');
        }
    }
   
    
    
}