.logo {
    color: var(--accent-color);
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;    
}

.logo__text {

    &--black {
        color: var(--secondary-color-text);
    }
    &--white {
        color: var(--fifth-color-text);
    }
}