.team {
    background-color: var(--secondary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;

    @include mq(desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }    
}

.team__list {
    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;    
        margin: -15px;
    }

    @include mq(desktop) {
        flex-wrap: nowrap;        
    }    
}

.team__item {
    text-align: center;
    box-shadow:
        0px 1px 3px var(--shadow-color-first),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @include mq(mobile-only) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @include mq(tablet) {
        margin: 15px;
        flex-basis: calc(100% / 2 - 30px);
    }       
}

.team__description {
    padding-top: 30px;
    padding-bottom: 24px;

    @include mq(desktop) {
        padding-bottom: 30px;
    }
}

.team__position {
    line-height: 1.18;
    margin-bottom: 16px;
}

.team__person-name {
    margin-bottom: 10px;

    color: var(--third-color-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}