body {
    // font-family: 'Roboto', sans-serif;
    font-family: var(--main-font);
    color: var(--first-color-text);
    letter-spacing: 0.03em;
}

body.modal-open {
    overflow: hidden;
}

.container {
    margin: 0 auto;    
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    
    @include mq(mobile) {    
        width: 480px;
    }    

    @include mq(tablet) {    
        width: 768px;
    }
    
    @include mq(desktop) {    
        width: 1200px;
    }    
}

.section__title {
    margin-bottom: 30px;
    color: var(--third-color-text);
    text-align: center;
    font-size: 28px;
    line-height: 1.18;
        
    @include mq(desktop) {    
        margin-bottom: 50px;
        font-size: 36px;     
        line-height: 1.16;
    }   
}